

.buttons{
    margin-left: 50px;
    height: 250px;
    width: 200px;

}

.btn{
    height: 45px;
    width: 45px;
}

.input{
    margin-bottom: 5px;
    margin-left: 50px;
    height: 45px;
    width: 185px;
}

.history{
    border: 1px solid black;
    width: 300px;

}

.ClearHis{
    height: 50px;
    width: 300px;
}

.His{
    position: absolute;
    width: 310px;
    left: 300px;
    top: 9px;
}

