

.buttons{
    margin-left: 50px;
    height: 250px;
    width: 200px;

}

.btn{
    background-color: #F1F3F4;
    border: none;
    margin-top: 3px;
    font-size: 20px;
    height: 45px;
    width: 45px;
}

.input{
    margin-bottom: 5px;
    margin-left: 50px;
    height: 45px;
    width: 185px;
}

.history{
    border: 1px solid black;
    width: 300px;

}

.ClearHis{
    height: 50px;
    width: 300px;
    margin-top: 5px;
    color:white;
    background-color: #4285F4;
    font-size: 20px;
    border: none;
}

.His{
    position: absolute;
    width: 310px;
    left: 300px;
    top: 9px;
}

.equals{
    color:white;
    background-color: #4285F4;
}

.clearAll, .clearEl{
    background-color: #DADCE0;
}

