.buttons{
    margin-left: 50px;
    height: 200px;
    width: 200px;
}

.btn{
    height: 45px;
    width: 45px;
}

.input{
    margin-bottom: 5px;
    margin-left: 50px;
    height: 45px;
    width: 185px;
}

